.main{
  margin: 30px 0;
  width: 100%;
}

.title{
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.buttons{
  width: 100%;
}

.f_button {
  /*margin-left: 40%;*/
  width: 80%;
  margin: auto;
  height: auto;
}

.s_button {
  /*margin-left: 34%;*/
  width: 80%;
  margin: auto;
  height: auto;
}

.btn-dark {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: none;
}

.btn-light {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: none;
}

.btn-info {
  border-radius: 70px;
  margin: auto;
  width: 15%;
  height: auto;
  background-color: #2f809a;
  border-color: #2f809a;
  color: white;
  text-transform: uppercase;
  position: relative;
  margin-left: 43%;
}

.btn-info:hover {
  border-radius: 70px;
  margin: auto;
  width: 15%;
  height: auto;
  background-color: #adbce6;
  color: #18404d;
  border-color: #adbce6;
  text-transform: uppercase;
  position: relative;
  margin-left: 43%;
}

@media only screen and (max-width: 500px) {
  .btn-info {
    height: auto;
    width: 40%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .btn-info:hover {
    margin: auto;
    height: auto;
    width: 40%;
  }
}

.images_gallery{
  width: 80%;
  height: auto;
  margin: auto;
}

div.gallery {
  /*border: 1px solid white;*/
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/*_____________________________________________________________________*/



/*_____________________________________________________________________*/

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  margin: 10px;
  float: left;
  width: 30.99999%;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1024px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.art_description{
  text-align: left;
}

.Author_name{
  text-align: left;
}
