<!--<app-header></app-header>-->
<div class="main">
  <h3 class="title">XVII Міжнародний конкурс з веб-дизайну та комп'ютерної графіки</h3>
  <div class="buttons">
    <div class="f_button">
      <button type="button" class="btn btn-dark">Школа</button>
      <button type="button" class="btn btn-dark">Коледж</button>
      <button type="button" class="btn btn-dark">ВНЗ</button>
    </div>
    <div class="s_button">
      <button type="button" class="btn btn-light">2D Раст</button>
      <button type="button" class="btn btn-light">2D Вектор</button>
      <button type="button" class="btn btn-light">2D Фотоколаж</button>
      <button type="button" class="btn btn-light">3D</button>
    </div>
  </div>
  <div class="grid">
    <h4 class="total">Всього:</h4>
    <ul class="boxes gallery-container">
        <li class="box">
          <img src="../../assets/images/main/img1.jpg" alt="Image" class="img-fluid thumbnail box-img">
        </li>
        <li class="box">
          <img src="../../assets/images/main/img2.jpg" alt="Image" class="img-fluid thumbnail box-img">
        </li>
        <li class="box">
          <img src="../../assets/images/main/img1.jpg" alt="Image" class="img-fluid thumbnail box-img">
        </li>
        <li class="box">
          <img src="../../assets/images/main/img2.jpg" alt="Image" class="img-fluid thumbnail box-img">
        </li>
        <li class="box">
          <img src="../../assets/images/main/img1.jpg" alt="Image" class="img-fluid thumbnail box-img">
        </li>
        <li class="box">
          <img src="../../assets/images/main/img2.jpg" alt="Image" class="img-fluid thumbnail box-img">
        </li>
     </ul>
  </div>
  <button type="button" class="btn btn-info">Переглянути Усі</button>
</div>
<!--<app-footer></app-footer>-->
