<!--<app-header></app-header>-->
<div class="main">
  <h3 class="title">XVII Міжнародний конкурс з веб-дизайну та комп'ютерної графіки</h3>
  <!--<div class="f_select">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Школа</button>
      <button type="button" class="btn btn-primary">Коледж</button>
      <button type="button" class="btn btn-primary">ВНЗ</button>
    </div>
  </div>
  <div class="s_select">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">2D Раст</button>
      <button type="button" class="btn btn-primary">2D Вектор</button>
      <button type="button" class="btn btn-primary">2D Фотоколаж</button>
      <button type="button" class="btn btn-primary">3D</button>
    </div>
  </div>-->
  <div class="buttons">
    <div class="f_button">
      <button type="button" class="btn btn-dark">Школа</button>
      <button type="button" class="btn btn-dark">Коледж</button>
      <button type="button" class="btn btn-dark">ВНЗ</button>
    </div>
    <div class="s_button">
      <button type="button" class="btn btn-light">2D Раст</button>
      <button type="button" class="btn btn-light">2D Вектор</button>
      <button type="button" class="btn btn-light">2D Фотоколаж</button>
      <button type="button" class="btn btn-light">3D</button>
    </div>
  </div>
  <div class="grid">
    <h4 class="total">Всього:</h4>
    <div class="column">
      <img src="../../assets/images/main/img1.png" style="width:100%">
      <img src="../../assets/images/main/img2.png" style="width:100%">
      <img src="../../assets/images/main/img1.png" style="width:100%">
      <img src="../../assets/images/main/img2.png" style="width:100%">
      <img src="../../assets/images/main/img1.png" style="width:100%">
      <img src="../../assets/images/main/img2.png" style="width:100%">
      <img src="../../assets/images/main/img1.png" style="width:100%">
      <img src="../../assets/images/main/img2.png" style="width:100%">
      <img src="../../assets/images/main/img1.png" style="width:100%">
    </div>
  </div>
  <button type="button" class="btn btn-info">Переглянути Усі</button>
</div>
<!--<app-footer></app-footer>-->
