<div class="root-block">
  <h2 class="title">{{contest.Title}}</h2>
  <h3 class="info_title">{{contest.Description}}</h3>

  <button (click)="addWork()">Додати роботу</button>
  <div *ngIf="isAdd">
    <add-work-component contestId="{{contest.ContestId}}" (workCreated)="getContestDetails()"></add-work-component>
  </div>

  <p *ngIf="!contest"><em>Завантаження...</em></p>

  <ul class="image_gird">
    <li *ngFor="let work of contest.Works" class="gird_element">
      <img src="{{work.Source}}" class="user-image" id="{{work.WorkId}}" style="cursor: pointer;" (click)="openMarker(work)" />
      <h5>{{work.Title}}</h5>
      <h5>{{work.Description}}</h5>
      <p>{{work.User.FirstName}} {{work.User.LastName}}</p>
    </li>
  </ul>

  

  <!--<div class="images_gallery">
    <div class="responsive">
      <div *ngFor="let work of contest.Works" class="gallery">
        <a target="_blank" href="" class="gallery_image">
          <img src="{{work.Source}}" class="user-image" width="400" height="400">
        </a>
        <div class="desc">
          <p class="art_description"><b>{{work.Description}}</b></p>
          <p class="Author_name">Author: {{work.User.FirstName}} {{work.User.LastName}}</p>
        </div>
      </div>
    </div>
  </div>-->

 </div>

