<div class="root-block">
  <h2 class="title">{{contest.Title}}</h2>
  <h3 class="info_title">{{contest.Description}}</h3>
  <button (click)="openAdministrationPanel()">Адміністрація</button>
  <div *ngIf="isAdminOpen">
    <contest-administration-component contestId ="{{contest.ContestId}}"></contest-administration-component>
  </div>

  <button (click)="addWork()">Додати роботу</button>
  <div *ngIf="isAdd">
    <add-work-component contestId="{{contest.ContestId}}" (workCreated)="getContestDetails()"></add-work-component>
  </div>

  <p *ngIf="!contest"><em>Завантаження...</em></p>

  <ul class="image_gird">
    <li *ngFor="let work of contest.Works" class="gird_element">
      <img src="{{work.Source}}" class="user-image" id="{{work.WorkId}}" style="cursor: pointer;" (click)="openMarker(work)" />
      <h5>{{work.Title}}</h5>
      <h5>{{work.Description}}</h5>
      <p>{{work.User.FirstName}} {{work.User.LastName}}</p>
    </li>
  </ul>
</div>

