<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <div class="half">
    <label for="profile2" class="profile-dropdown">
      <input type="checkbox" id="profile2">
      <img src="">
      <span class="user">{{ userName | async }}</span>
      <label for="profile2"><i class="mdi mdi-menu"></i></label>
      <ul>
        <li><a class="dropdown-item" [routerLink]='["/authentication/profile"]' title="Manage"><i class="mdi mdi-account"></i>Аккаунт</a></li>
        <li><a class="dropdown-item" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout"><i class="mdi mdi-logout"></i>Вийти</a></li>
      </ul>
    </label>
  </div>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <div class="half">
    <label for="profile2" class="profile-dropdown">
      <input type="checkbox" id="profile2">
      <img src="">
      <span class="user">Вхід/Реєстрація</span>
      <label for="profile2"><i class="mdi mdi-menu"></i></label>
      <ul>
        <li><a class="dropdown-item" [routerLink]='["/authentication/register"]'>Реєстрація</a></li>
        <li><a class="dropdown-item" [routerLink]='["/authentication/login"]'>Вхід</a></li>
      </ul>
    </label>
  </div>
</ul>
