<div class="root-block">
  <h2>Додати роботу</h2>
  <div class="form-group">
    <label for="title">Назва</label>
    <input #workTitle type="text" class="form-control" id="title" required>
  </div>

  <div class="form-group">
    <label for="description">Опис</label>
    <input #workDesc type="text" class="form-control" id="description">
  </div>

  <div class="form-group">
    <label for="data">Файл роботи</label>
    <input #workData type="file" (change)="onFileSelected($event)" class="form-control" id="data">
  </div>

  <button (click)="addWork(workTitle.value, workDesc.value, workData.value)" type="submit" class="btn btn-success">Створити</button>
</div>
