@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

.wrapper {
  /*width: 80%;
  height: auto;*/
  /*margin: auto;*/
  margin-top: 5%;
}

* {
  list-style: none;
}

.header_info {
  width: 100%;
  margin: 0 auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .header_info{
    display: none;
  }
}

.header_info_content {
  transform: translateX(25%);
  width: 50%;
  float: left;
}

.header_title {
  color: lightblue;
  text-transform: uppercase;
  /*font-family: 'Book Antiqua';*/
}

.header_text {
  font-family: 'Source Serif Pro';
  font-size: 20px;
}

.btn {
  font-family: 'Times New Roman';
}

.btn-success {
  border-radius: 70px;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: #2f809a;
  border-color: #2f809a;
  color: white;
  text-transform: uppercase;
}

.btn-success:hover {
  background-color: #adbce6;
  color: #18404d;
  border-color: #adbce6;
}

.btn-outline-secondary {
  border-radius: 70px;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: white;
  color: grey;
  margin-left: 30px;
  text-transform: uppercase;
}

.btn-outline-secondary:hover {
  background-color: #e6bbad;
  color: #ebf5f9;
  border-color: #e6bbad;
}

.header_image{
  width: 50%;
  margin:auto;
  float: right;
}

@media only screen and (max-width: 768px) {
  [class*="header_image"] {
    width: 100%;
  }
}

img {
  max-width: 70%;
  height: auto;
}
