<div class="wrapper">
  <div class="header_info">
    <h1 class="title">Majestics.</h1>
    <p class="header_text">Міжнародні відкриті конкурси з комп'ютерної<br />графіки та веб-дизайну серед студентів та учнів</p>
    <div class="buttons">
      <div class="button1">
        <a href="./Identity/Account/Register?returnUrl=/authentication/login"><button type="button" class="btn btn-success">Реєстрація</button></a>
      </div>
      <div class="button2">
        <button type="button" class="btn btn-outline-secondary">Про конкурс</button>
      </div>  
    </div>
  </div>
  <div class="header_img"><img src="../../images/header/head.jpg"></div>
</div>
