.wrapper{
  width: 90%;
  height: 430px;
  margin: 50px;
}

.header_info{
  float: left;
  margin-left: 170px;
  margin-top: 70px;
}

.title{
  margin-top: 30px;
  text-transform: uppercase;
  color: lightblue;
}

.header_img {
  float: right;
  margin-left: -20px;
  margin-top: 10px;
  /*background-image: url(../../images/header/head.jfif);*/
}

img {
  width: 500px;
  height: 400px;
}

.header_text{
  text-transform: uppercase;
  margin-top: 15px;
  color: gray;
}

.buttons, div{
  display: inline-block;
}

.btn-success {
  border-radius: 70px;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: #2f809a;
  border-color: #2f809a;
  color: white;
  text-transform: uppercase;
}

.btn-success:hover{
  background-color: #adbce6;
  color: #18404d;
  border-color: #adbce6;
}

.btn-outline-secondary {
  border-radius: 70px;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: white;
  color: grey;
  margin-left: 30px;
  text-transform: uppercase;
}

 .btn-outline-secondary:hover {
   background-color: #e6bbad;
   color: #ebf5f9;
   border-color: #e6bbad;
 }
