<div class="wrapper">
  <div class="wrapper-list">
    <ul class="header_info">
      <li class="header_info_content">
        <h1 class="header_title">Majestics.</h1>
        <p class="header_text">Міжнародні відкриті конкурси з комп'ютерної<br />графіки та веб-дизайну серед студентів та учнів</p>
        <a href="./Identity/Account/Register?returnUrl=/authentication/login"><button type="button" class="btn btn-success">Реєстрація</button></a>
        <a href="./info"><button type="button" class="btn btn-outline-secondary">Про конкурс</button></a>
      </li>
      <li class="header_image"><img src="../../assets/images/header/head.jpg" alt="header image" /></li>
    </ul>
  </div>
</div>
