<app-header></app-header>
<div class="wrapper">
  <div class="heading">
    <h2 class="title">Положення про конкурс</h2>
  </div>
  <div class="info_box">
    <!--<div class="head_info"></div>-->
    <div class="left_sub">
      <h3 class="left subtitle">Мета конкурсу:</h3>
    </div>
    <div class="right_sub">
      <a class="download_link" href=""><p class="download">Завантажити положення конкурсу</p></a>
    </div>
    <div class="first">
      <span class="title_text texts">
        Підвищення рівня знань, умінь та навичок серед студентів і учнів в галузі Інтернет-технологій та комп’ютерної анімації шляхом:
      </span>
      <ul class="info_text">
        <li class="info_line texts">
          доведення до учасників конкурсу вимог професійної оцінки журі щодо поданих робіт;
        </li>
        <li class="info_line texts">
          популяризації й пропаганди переможців, призерів і кращих учасників конкурсу в засобах масової інформації;
        </li>
        <li class="info_line texts">
          популяризації і підтримки кращих Інтернет-ресурсів, що створені учнівською та студентською молоддю;
        </li>
        <li class="info_line texts">
          підвищення інформаційної культури суспільства, популяризації Інтернет-технологій серед населення;
        </li>
        <li class="info_line texts">
          збору і надання інформації споживачам про Інтернет-ресурси Вінницької області;
        </li>
        <li class="info_line texts">
          сприяння зміцненню престижу Вінницької області як ділового, наукового, культурного і інвестиційно-привабливого регіонального центра;
        </li>
        <li class="info_line texts">
          привернення уваги державних, громадських і комерційних організацій до проблем розвитку Інтернет і використання його можливостей як реального та
          ефективного інструмента соціально-економічних перетворень, професійної роботи, творчості, відпочинку;
        </li>
        <li class="info_line texts">
          залучення інвестицій у сферу Інтернет-технологій;
        </li>
        <li class="info_line texts">
          стимулювання створення й розвитку якісних інформаційних ресурсів;
        </li>
        <li class="info_line texts">
          пошуку нових стратегій, методів і ділових моделей використання мережі Інтернет;
        </li>
        <li class="info_line texts">
          стимулювання впровадження сучасних інформаційних технологій у різні галузі народного господарства, освіти й бізнесу.
        </li>
      </ul>
    </div>
    <div class="second">
      <div class="second_sub">
        <h3 class="second_title subtitle">Умови участі в конкурсі:</h3>
      </div><br />
      <p class="info_participation evaluation_frst texts">
        До участі в конкурсі допускаються учні загальноосвітніх та професійно-технічних навчальних закладів, студенти вищих навчальних закладів. Учасник може подати
        на конкурс кілька робіт.
      </p>
      <span class="alert_title">
        До участі в конкурсі не допускаються роботи які:
      </span>
      <ul class="forbidden_topics">
        <li class="themes texts">
          пропагують насильство, війну й тероризм;
        </li>
        <li class="themes texts">
          порушують законодавство України;
        </li>
        <li class="themes texts">
          мають елементи порнографічного та еротичного змісту;
        </li>
        <li class="themes texts">
          у змістовній частині яких використовується ненормативна лексика;
        </li>
        <li class="themes texts">
          порушують авторське право.
        </li>
      </ul>
      <span class="judes_rules texts">Оргкомітет та журі конкурсу має право відмовити в розгляді будь-якої роботи без пояснення причин її автору.</span>
    </div>
    <div class="trd_block">
      <div class="second_sub">
        <h3 class="thrd_title subtitle">Умови проведення конкурсу:</h3>
      </div><br />
      <p class="conditions evaluation_frst texts">
        Конкурс проводиться у два тури. Під час першого туру учасники подають підготовлені роботи в одній з номінацій :
      </p>
      <dl class="peovisions">
        <dt class="WEB"><b>Для Веб-ресурсів:</b></dt>
        <dd class="web_list texts">
          Краще інформаційне наповнення.
        </dd>
        <dd class="web_list texts">
          Краща графічна реалізація.
        </dd>
        <dd class="web_list texts">
          Краща програмна реалізація.
        </dd>
        <dt class="animation"><b>Для комп’ютерної анімації:</b></dt>
        <dd class="anim_list texts">
          Краща GIF-анімація.
        </dd>
        <dd class="anim_list texts">
          Краща Flash-анімація.
        </dd>
        <dd class="anim_list texts">
          Краща 3D-анімація.
        </dd>
        <dt class="computer_graphics"><b>Для комп’ютерної графіки:</b></dt>
        <dd class="computer_list texts">
          Краща 2D растрова графіка (одна робота або серія).
        </dd>
        <dd class="computer_list texts">
          Краща 2D векторна графіка (одна робота або серія).
        </dd>
        <dd class="computer_list texts">
          Краща 3D-графіка.
        </dd>
      </dl>
    </div>
    <div class="general_information">
      <p class="general_information_block texts">
        Номінацію при подачі роботи визначає заявник. Номінація заявленої роботи може бути скорегована оргкомітетом. У випадку незгоди заявника з оргкомітетом

        по питанню визначення номінації остаточне рішення приймається заявником. Робота може бути представлена тільки в одній номінації. Учасник конкурсу подає

        у номінації Веб-дизайн вихідні коди робіт, для номінацій графіка та анімація подає роботи у форматах тих пакетів програм, у яких виконана робота. Подані

        проекти повинні бути придатні для перегляду на ПК під управлінням ОС Windows XP/Vista/7. У випадку неможливості перегляду роботи стандартними

        засобами, учасник конкурсу повинен надати інструментальний засіб для перегляду цієї роботи, набір нестандартних шрифтів, тощо.

      </p><br />
      <p class="general_information_block texts">
        Оргкомітет конкурсу не вирішує можливі конфлікти між розробником роботи і її власником.

        До участі в конкурсі допускаються роботи, що не брали участь в Конкурсі в попередні роки.

        Конкурсні роботи подаються в оргкомітет і можуть бути розміщені в мережі Інтернет. В разі виявлення помилок конкурсантам надається можливість їх виправити

        до закінчення терміну подання робіт. У разі подання колективної роботи, заявка оформлюється від імені однієї особи, яка приймала участь у розробці. У разі

        перемоги у І турі цей зареєстрований учасник приймає участь у фінальному турі.
      </p><br />
      <p class="general_information_block texts">
        Оргкомітет зобов язаний сповістити заявника про допуск роботи до участі в конкурсі, або про відмову з поясненням причин. У випадку відмови заявник може

        повторно висувати роботу до участі у конкурсі, привівши її у відповідність до вимог чинного положення.
      </p><br />
      <p class="general_information_block texts">
        До участі в другому турі допускаються переможці першого туру, яким надається можливість виконати кваліфікаційну роботу за виділений проміжок часу

        (4 години). Тематика робіт пропонується оргкомітетом і доводиться до відома конкурсантів перед початком другого туру.
      </p><br />
      <p class="general_information_block texts">
        Учасникам другого туру надаються рівноцінні комп ютери і програмні засоби. Перелік програмних засобів, що їх використовують учасники другого туру,

        визначається спільно членами журі та оргкомітету.
      </p><br />
      <p class="general_information_block texts">
        Після завершення другого туру журі конкурсу визначає три кращі роботи серед учнів та студентів з кожної номінації.
      </p><br />
      <div class="second_sub">
        <span><h3 class="evaluation subtitle">Методика оцінювання:</h3></span>
      </div><br />
      <p class="evaluation_list evaluation_frst texts">
        Оцінювання здійснюється членами журі по кожній роботі незалежно один від одного за єдиними критеріями.
      </p><br />
      <p class="evaluation_list texts">
        Члени журі передають в оргкомітет свої оцінки по кожній роботі. З набору оцінок виключатиметься найменша та найвища оцінки, після чого по кожній роботі

        вираховується середній бал.

        Переможцями визнаються учасники, роботи яких оцінено вищим середнім балом.
      </p><br />
      <p class="evaluation_lis textst">
        Оргкомітет визначає та затверджує склад робочої групи, в обов язки якої входить підрахунок балів.
      </p><br />
      <p class="evaluation_list texts">
        Для оцінювання робіт у кожній номінації створюється окремий склад журі.

        У випадку, якщо дві і більше робіт наберуть однакову кількість балів, рішення про переможця приймає голова журі.
      </p><br />
    </div>
  </div>
</div>
<app-footer></app-footer>
