<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container">
      <div class="button">
        <nav role="navigation">
          <div id="menuToggle">

            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
              <a [routerLink]="['/']"><li>Головна</li></a>
              <a [routerLink]="['/info']"><li>Про конкурс</li></a>
              <a [routerLink]="['/contests']"><li>Конкурси</li></a>
            </ul>
          </div>
        </nav>
      </div>
      <div class="name">
        <a class="navbar-brand" [routerLink]="['/']">Majestics</a>
      </div>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
