
<nav>
  <div class="navigation">
    <div class="button">
      <nav role="navigation">
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="#"><li>Головна</li></a>
            <a href="./info"><li>Про конкурс</li></a>
            <a href=""><li>Нагородження</li></a>
            <a href=""><li>Переможці</li></a>
          </ul>
        </div>
      </nav>
    </div>
    <div class="name"><h5>Majestics.</h5></div>
    <!--<div class="login"><a href="./Identity/Account/Register?returnUrl=/authentication/login"><button type="button" class="btn btn-success">Вхід</button></a></div>-->
    <button class="buttons" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Вхід</button>

    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php" method="post">

        <div class="container">
          <!--<label for="uname"><b>Username</b></label>-->
          <input type="text" placeholder="Ім'я користувача" name="uname" required>

          <input type="text" placeholder="Логін" name="login" required>

          <!--<label for="psw"><b>Password</b></label>-->
          <input type="password" placeholder="Пароль" name="psw" required>

          <button class="register" type="submit">Зареєструватись</button>
          <!--<label>
            <input class="remember_m" type="checkbox" checked="checked" name="remember"> Запам'ятати мене
          </label>-->
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Закрити</button>
          <span class="psw"><a href="#">Нагадати пароль</a></span>
        </div>
      </form>
    </div>
  </div>
</nav>
